@font-face {
    font-family: 'Geist';
    src:
        url('./fonts/geist/ttf/Geist-Thin.ttf') format('truetype'),
        url('./fonts/geist/webfonts/Geist-Thin.woff2') format('woff2'),
        url('./fonts/geist/otf/Geist-Thin.otf') format('opentype');
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: 'Geist';
    src:
        url('./fonts/geist/ttf/Geist-ExtraLight.ttf') format('truetype'),
        url('./fonts/geist/webfonts/Geist-ExtraLight.woff2') format('woff2'),
        url('./fonts/geist/otf/Geist-ExtraLight.otf') format('opentype');
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: 'Geist';
    src:
        url('./fonts/geist/ttf/Geist-Light.ttf') format('truetype'),
        url('./fonts/geist/webfonts/Geist-Light.woff2') format('woff2'),
        url('./fonts/geist/otf/Geist-Light.otf') format('opentype');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Geist';
    src:
        url('./fonts/geist/ttf/Geist-Regular.ttf') format('truetype'),
        url('./fonts/geist/webfonts/Geist-Regular.woff2') format('woff2'),
        url('./fonts/geist/otf/Geist-Regular.otf') format('opentype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Geist';
    src:
        url('./fonts/geist/ttf/Geist-Medium.ttf') format('truetype'),
        url('./fonts/geist/webfonts/Geist-Medium.woff2') format('woff2'),
        url('./fonts/geist/otf/Geist-Medium.otf') format('opentype');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Geist';
    src:
        url('./fonts/geist/ttf/Geist-SemiBold.ttf') format('truetype'),
        url('./fonts/geist/webfonts/Geist-SemiBold.woff2') format('woff2'),
        url('./fonts/geist/otf/Geist-SemiBold.otf') format('opentype');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'Geist';
    src:
        url('./fonts/geist/ttf/Geist-Bold.ttf') format('truetype'),
        url('./fonts/geist/webfonts/Geist-Bold.woff2') format('woff2'),
        url('./fonts/geist/otf/Geist-Bold.otf') format('opentype');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Geist';
    src:
        url('./fonts/geist/ttf/Geist-ExtraBold.ttf') format('truetype'),
        url('./fonts/geist/webfonts/Geist-ExtraBold.woff2') format('woff2'),
        url('./fonts/geist/otf/Geist-ExtraBold.otf') format('opentype');
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: 'Geist';
    src:
        url('./fonts/geist/ttf/Geist-Black.ttf') format('truetype'),
        url('./fonts/geist/webfonts/Geist-Black.woff2') format('woff2'),
        url('./fonts/geist/otf/Geist-Black.otf') format('opentype');
    font-style: normal;
    font-weight: 900;
}
